/*** Global Style Settings ***/

* {
    display: flex;    
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.5em; 
}

body, main, #thingsIdo, header, #myDescription {
    flex-direction: column;
    justify-content: center;
    padding: 0.25em;
    margin: 0.5em;

}

#proficienciesCountainer {
    flex-direction: column;
    background-color: #12AE98;
    flex-wrap: wrap;
}

#navBar {
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-content: center;
    margin: 0.25em;
    padding: 0.25em;    
}

.navButtons {
    padding: 1em;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header {
    font-size: 1em;
}

header > p {
    margin: 0.25em;
}

header > h2 {
    font-size: 0.5em;
}

#myName {
    font-weight: 1000;
    font-size: 1.5em;
    margin: 0.25em;
}

#contactInfo {
    list-style: none;
    padding: 1em;
}

#favIcons {
    justify-content: center;
    align-content: center;    
}

.contactInfoButtons {
    margin: 1em;
}

/* li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em;
} */

section {
    flex-direction: column;
}

#profHeading {
    justify-content: center;
    font-weight: bolder;
}

#proficienciesList {
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em;
}

.skills {
    /* padding: 0.5em; */
    color: #12AE98;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em;

}

#portfolio {
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.projectsIcon {
    list-style: none;
    padding: 1em;
    max-width: 100%;
    justify-content: center;
    margin: 0.25em;
    border-style: solid;
    border-radius: 0.5em;
}

#myDescription {
    justify-content: center;
    padding: 1em;
}

/* #aboutMe, #aboutMeButton {
    justify-content: center;
    align-content: center;
    min-width: 100%;
}



.projContents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/*** Mobile Styling ***/

@media screen and (max-width: 767px) {

    #logo, #aboutMe, #projectDescrip1, #projectDescrip2, #projectDescrip3 {
        display: none;
    }

    #proficienciesCountainer, #projectList {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #proficienciesList {
        margin-top: 0.25em;
        padding: 0.5em;
    }
}



@media screen and (min-width: 768px) {
    #portfolio {
        flex-direction: row;

    }
}