/*** Global Style Settings ***/

body * {
    display: flex;    
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 300;
}

body, main, #thingsIdo, header {
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

#proficienciesCountainer {
    flex-direction: column;
    background-color: #12AE98;
}

#navBar {
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-content: center;
    margin: 1em;
    padding: 1em;
}

.navButtons {
    padding: 1em;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    width: 100%;
}

#myName {
    font-weight: 1000;
    font-size: 3em;
}

#contactInfo {
    list-style: none;
    padding: 1em;
}

/* li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em;
} */

section {
    flex-direction: column;
}

#profHeading {
    justify-content: center;
    font-weight: bolder;
}

#proficienciesList {
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em;
}

.skills {
    /* padding: 0.5em; */
    color: #12AE98;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em;

}

#portfolio {
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.projectsIcon {
    list-style: none;
    padding: 1em;
    max-width: 100%;
    justify-content: center;
    margin: 0.25em;
    border-style: solid;
    border-radius: 0.5em;
}

/* #aboutMe, #aboutMeButton {
    justify-content: center;
    align-content: center;
    min-width: 100%;
}

#myDescription {
    justify-content: center;
    padding: 1em;
}

.projContents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/*** Mobile Styling ***/

@media screen and (max-width: 767px) {

    #logo, #aboutMe, #projectDescrip1, #projectDescrip2, #projectDescrip3 {
        display: none;
    }

        #proficienciesCountainer, #projectList {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #proficienciesList {
            margin-top: 0.25em;
            padding: 0.5em;
        }



}



@media screen and (min-width: 768px) {
    #portfolio {
        flex-direction: row;

    }
}